{{#if shortUrl}}
    <div class="result">
        <h3>Success! Please use this link:</h3>
        <p id="generatedUrl">{{ origin }}/{{ shortUrl }}</p>
    </div>
    <button class="copy" onclick="copy()">Copy</button>

    <script>
        function copy() {
            const generatedUrl = document.getElementById("generatedUrl")
            navigator.clipboard.writeText(generatedUrl.innerText)
                .then(() => alert("copied"))
                .catch(error => console.log(error))
        }
    </script>
{{else}}
    <form action="/" method="POST">
        <div class="container">
            <input type="url" name="url" placeholder="Input URL here" />
            <button class="shorten" type="submit">Shorten</button>
        </div>
    </form>
{{/if}}